/** Modal Window **/

input:checked + label > .check-area {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.submit-form-btn {
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  color: var(--WHITE, #fff);
  text-align: center;
  /* Button Text */
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.submit-form-btn:hover,
.submit-form-btn:focus {
  background-color: rgba(64, 75, 191, 1);
}
