.header-container {
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-head {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  display: flex;
}

.navigation-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 24px;
  margin-right: 76px;
  margin-bottom: 24px;
}

.logo-header-text {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.nav-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.nav-links-list-content {
  text-decoration: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links-list-content:hover,
.nav-links-list-content:focus {
  color: #404bbf;
}

.nav-links-list-content::after {
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  gap: 20px;
  color: #404bbf;
}

.address-style {
  font-style: normal;
}

.address-links-list {
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 150px;
}

.address-links-list-content {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-links-list-content:hover {
  color: #404bbf;
}

.address-links-list-content:focus {
  color: #404bbf;
}

/* Hero section */

.offer {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_image/7e83b6c8ee4603ea892aa8aaebb3c5fe.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}

.offer-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: 316px;
}

.order-style {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: 480px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-style:hover {
  background-color: #404bbf;
}

.order-style:focus {
  background-color: #404bbf;
}

.adv-section,
.team-members,
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Advantages Section*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.adv-list-item {
  width: calc((100%-72px) / 4);
}

.adv-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.advantages-header-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* Team members section*/

.team-members {
  background-color: #f4f4fd;
}

.our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.members-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-text-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-member-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-list-item {
  width: 40px;
  height: 40px;
}

.socials-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item-link:hover {
  background-color: #404bbf;
}

.socials-item-link:focus {
  background-color: #404bbf;
}

.socials-item-link:active {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

/* Portfolio Section */

.product-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .app-descr-text {
  transform: translateY(0%);
}

.app-image-box {
  position: relative;
  overflow: hidden;
}

.app-descr-text {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-text-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.product-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}

.product-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

/* Footer */

.foot-style {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.logo-text-box {
  margin-right: 120px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-text {
  color: #f4f4fd;
}

.foot-par-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  max-width: 264px;
}

.social-media {
  margin-right: 80px;
}

.foot-social-par {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.foot-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-media .socials-item-link:hover {
  background-color: #31d0aa;
}

.social-media .socials-item-link:focus {
  background-color: #31d0aa;
}

.social-media .socials-item-link:active {
  background-color: #31d0aa;
}

/* Footer form */

.subscr-box {
  width: 453px;
  height: 80px;
  border-radius: 4px;
  border-style: none;
}

.subscr-form-text {
  display: flex;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscr-form {
  display: flex;
  gap: 24px;
}

.subscr-form-label {
  display: flex;
}

.subscr-form-input {
  width: 264px;
  height: 40px;
  color: #fff;
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
}

.subscr-button {
  text-align: center;
  /* Button Text */
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  min-width: 165px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.subscr-icon {
  fill: #fff;
  margin-left: 16px;
}

/** Modal Window **/

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-w-box {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-par {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-box {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-box {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment-box {
  margin-bottom: 16px;
}

.comment-area {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
}

.comment-area:focus {
  border-color: #4d5ae5;
}

.privacy-box {
  margin-bottom: 24px;
}

.privacy-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.check-area {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

input:checked + label > .check-area {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.submit-form-btn {
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  color: var(--WHITE, #fff);
  text-align: center;
  /* Button Text */
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.submit-form-btn:hover,
.submit-form-btn:focus {
  background-color: rgba(64, 75, 191, 1);
}
