/* Сommon styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adv-section,
.team-members,
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .adv-section,
  .team-members,
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* Hero section */

.offer {
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_image/Dark-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .offer {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_image/Dark-bg-mobile@2x.jpg);
  }
}

.offer-text {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 288px;
  margin: 0 auto 72px;
}

.order-style {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-style:hover,
.order-style:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .offer {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_image/Dark-bg-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .offer {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_image/Dark-bg-tab@2X.jpg);
    }
  }

  .offer-text {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .offer {
    max-width: 1440px;
    padding-top: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_image/Dark-bg-desc.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .offer {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_image/Dark-bg-desc@2X.jpg);
    }
  }

  .offer-text {
    margin: 0 auto 48px;
  }
}

/* Advantages Section*/

.advantages-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}

.adv-icon-box {
  display: none;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .adv-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages-header-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .adv-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .adv-list-item {
    flex-basis: calc((100%-72px) / 4);
  }

  .advantages-header-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
  }
}

/* Team members section*/

.team-members {
  background-color: #f4f4fd;
}

.members-list {
  display: inline-flex;
  flex-direction: column;
  gap: 72px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-text-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-member-position {
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-list-item {
  width: 40px;
  height: 40px;
}

.socials-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item-link:hover,
.socials-item-link:focus,
.socials-item-link:active {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .members-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .members-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
}
